html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  background: var(--primary);
  font-family: 'Open Sans';
  font-size: 14px;
}
a {
  text-decoration: none;
  color: var(--primary);
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 1024px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}

.MessageForm {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.MessageList {
  background-color: var(--surface);
}

.App .MessageList {
  box-sizing: border-box;
  flex: 1;
  padding: 20px;
}

.App .MessageForm {
  background: var(--basis);
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  flex: 0 0 30px;
}

div[class^='possible-answers-'] {
  display: inline-block;
}

div[class^='possible-answers-'] > button {
  margin-right: 10px;
  background-color: var(--primary);
  color: white;
}

div[class^='possible-answers-'] button:hover {
  margin-right: 10px;
  background-color: var(--primary);
  color: white;
}

.toVanish {
  display: none;
}

.bot-icon-section {
  display: block;
}

.bot-icon {
  max-width: 100%;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
}

.hide-answers {
  visibility: hidden;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.MuiMenu-paper {
  margin-top: 38px;
  margin-left: 15px;
}

.App {
  background-color: var(--surface);
}

.MessageForm {
  transform: translateY(100%);
}

.MessageForm.test {
  animation: poutsa 0.6s 1 forwards;
}

.MuiBottomNavigation-root {
  position: relative;
}

@keyframes poutsa {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
