.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basis);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2;
}

.profile-icons {
  height: 32px;
  width: 32px;
}

.logo-icon {
  height: 60px;
}

.logo {
  text-align: center;
}

.logo p {
  margin: 0 0 10px;
  font-size: 0.8rem;
}

.language-selection {
  padding-right: 5px;
}
