.MessageForm {
  display: flex;
  background: #ccc;
  box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.12);
}

.MessageForm .input-container {
  flex: 1 1 auto;
  border: 1px solid #dfdfdf;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s;
}
.MessageForm .input-container:focus,
.MessageForm .input-container:hover {
  border-color: #000;
}

.MessageForm .button-container {
  fill: #c7bfbf;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  box-sizing: border-box;
  padding: 8px;
}

.MessageForm .button-container-filled {
  fill: var;
  flex-grow: 0;
  width: 40px;
  height: 40px;
  flex-basis: 40px;
  box-sizing: border-box;
  padding: 8px;
}

.MessageForm input,
.MessageForm button {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: inherit;
  height: 100%;
  outline: none;
  width: 100%;
}

.MessageForm button {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.MessageForm button:hover {
  cursor: pointer;
}

.MessageForm input {
  padding: 0 0 0 4px;
}

.typingIndicator {
  background-color: var(--surface);
  padding-left: 10px;
}

.typingIndicatorContents {
  background: #dfdfdf;
  border-radius: 30px;
  width: 90px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.loader {
  text-align: center;
  display: inline-block;
  margin-left: 12px;
}

.loader span {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 20px;
  animation: loader 0.8s infinite alternate;
}

.loader span:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loader span:nth-of-type(3) {
  animation-delay: 0.6s;
}

@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
