.Message {
  line-height: 1.5em;
  display: flex;
  margin-bottom: 10px;
}

.Message .author {
  margin-right: 8px;
  margin-top: 4px;
  width: 30px;
  flex-shrink: 0;
}

.text-container {
  background-color: #fff;
  max-width: 600px;
  min-width: 190px;
  padding: 5px;
  flex: initial !important;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
}

.gaius-user {
  align-items: flex-end;
  flex-direction: column;
}

.gaius-user .text-container {
  background-color: var(--primary);
  color: #fff;
}

.text-container:after,
.text-container:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  right: 100%;
  top: 16px;
}

.text-container:before {
  top: 18px;
}

.text-container:after {
  border-right: 4px solid var(--surface);
}

.gaius-user .text-container:after,
.gaius-user .text-container:before {
  left: 100%;
  right: auto;
  transform: rotate(180deg);
}

.gaius-user .text-container:after {
  border-right: 4px solid var(--primary);
}

.possible-answers {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 100%;
  height: 100%;
  border: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: 1em;
  line-height: 1.125;
  box-sizing: border-box;
  resize: none;
}

#textFieldId {
  background: #fff;
}

.input-container {
  background-color: #fff;
}

textarea:focus {
  outline: 0;
}
