.gaius-owl {
  width: 250px;
  height: 250px;
}

.Modal {
  background-color: #fff;
  -webkit-box-shadow: 6px 9px 23px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 9px 23px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 9px 23px -10px rgba(0, 0, 0, 0.75);
  width: 600px;
  max-width: 100%;
  padding: 20px;
}

.Modal:focus {
  outline: 0;
}

.modal-title {
  text-align: center;
}

.modal-title h2 {
  margin: 0 0 30px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.modal-text {
  padding: 10px;
  text-align: center;
}

.buttonColor {
  background-color: var(--primary) !important;
  color: white !important;
}

.buttonModal {
  margin-bottom: 11px !important;
}

.modal-img img {
  width: 200px;
  height: 200px;
  max-height: auto;
}

.modal-language {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-language .modal-text {
  font-weight: 700;
}
